# Cartella di output compilazione Java
out/

# File compilati
*.class

# Configurazioni IntelliJ (opzionale: rimuovi il # se non vuoi pushare le config IDE)
# .idea/
# *.iml

# File di sistema macOS
.DS_Store

# File di sistema Windows
Thumbs.db
